
<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Elements - Industrious by TEMPLATED</title>
        <meta charset="UTF-8"/>
        <title>Home</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
	</head>
	<body class="is-preload">

       <!-- Header -->
		<header id="header">
        <a class="logo" href="home.html">Home</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="home.html">Home</a></li>
					<li><a href="insert_home.html">Agregar</a></li>
                    <li><a href="agregar_batalla.html">Agregar Batalla</a></li>
					<li><a href="agregar_carta.html">Agregar Carta</a></li>
                    <li><a href="agregar_division.html">Agregar Division</a></li>
                    <li><a href="agregar_invocador.html">Agregar Invocador</a></li>
                    <li><a href="agregar_mazo.html">Agregar Mazo</a></li>
                    <li><a href="agregar_region.html">Agregar Region</a></li>
                    <li><a href="agregar_rioter.html">Agregar Rioter</a></li>
                    <li><a href="agregar_servidor.html">Agregar Servidor</a></li>
                    <li><a href="agregar_usuario.html">Agregar Usuario</a></li>
				</ul>
			</nav>

		<!-- Heading -->
			<div id="heading" >
				<h1>Agregar Rioter</h1>
			</div>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<div class="content">
                        <div class="row">
							<div class="col-6 col-12-medium">
					<!-- Elements -->
                                <!-- Form -->
							<!--Primer insert-->
								<div id="description_button_1" class="table-wrapper">
									<form method="post" action="{{url_for('agregar_rioter')}}" class="col-4 col-12-xsmall">
										<div class="row gtr-uniform">
                                            <!-- Break -->
                                           <div class="col-12-xsmall">
												<select name="agregar_rioter_usuario" id="agregar_rioter_usuario" required>
													<option value="">- Select Usuario -</option>
													{% for line in usuario %}
													<option value="{{line[0]}}">{{line[0]}}</option>
													{% endfor %}
												</select>
											</div>
											<div class="col-12-xsmall">
												<select name="agregar_rioter_servidor" id="agregar_rioter_servidor" required>
													<option value="">- Select Servidor -</option>
													{% for line in servidor %}
													<option value="{{line[0]}}">{{line[0]}}</option>
													{% endfor %}
												</select>
											</div>
											<div class="col-8-xlarge">
												<input type="text" name="agregar_rioter_nombre_invocador" id="agregar_rioter_nombre_invocador" value="" placeholder="Nombre Invocador" />
											</div>
											<div class="col-8-xlarge">Fecha Contrato Inicio:
												<input type="date" name="agregar_rioter_contrato_fin" id="agregar_rioter_contrato_inicio" value="" placeholder="Fecha de contrato Inicio" />
											</div>
											<div class="col-8-xlarge">Fecha Contrato Fin:
												<input type="date" name="agregar_rioter_contrato_fin" id="agregar_rioter_contrato_fin" value="" placeholder="Fecha de contrato Fin" />
											</div>
											<div class="col-12">
												<ul class="actions">
													<li><input type="submit" value="Submit Form" class="primary" /></li>
													<li><input type="reset" value="Reset" /></li>
												</ul>
											</div>
										</div>
									</form>
								</div>
						<!--Primer insert-->
							</div>
						</div>
                    </div>
                </div>

			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="content">
                        <section>
                            <h3>Life ain't easy</h3>
                            <p>But this is it.</p>
                            </section>
                        <section>
                            <h4>Realizado por</h4>
							<ul class="alt">
								<li><a href="#">Heider Delgado</a></li>
								<li><a href="#">Carlos Villarroel</a></li>
							</ul>
                            </section>
                        <section>
							<h4>Fuentes</h4>
							<ul class="plain">
								<li><a href="https://github.com/HighDeFing/ABDProyecto1"><i class="icon fa-github">&nbsp;</i>Github</a></li>
							</ul>
						</section>
					</div>
					<div class="copyright">
						&copy; Untitled. Photos <a href="https://unsplash.co">Unsplash</a>, Video <a href="https://coverr.co">Coverr</a>.
					</div>
				</div>
			</footer>
       <!-- Footer -->


<!-- Assest script -->
<script src="{{ url_for('static',filename='assets/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/browser.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/breakpoints.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/util.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/main.js') }}"></script>
<!-- Assest script -->

	</body>
</html>