
<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Elements - Industrious by TEMPLATED</title>
        <meta charset="UTF-8"/>
        <title>Home</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
	</head>
	<body class="is-preload">

       <!-- Header -->
		<header id="header">
        <a class="logo" href="home.html">Home</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="home.html">Home</a></li>
					<li><a href="insert_home.html">Insert</a></li>
				</ul>
			</nav>

		<!-- Heading -->
			<div id="heading" >
				<h1>Inserts</h1>
			</div>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<div class="content">
                        <div class="row">
							<div class="col-6 col-12-medium">
					<!-- Elements -->
                                <!-- Form -->
							<!--Primer insert-->
								<div id="description_button_1" class="table-wrapper">
									<form method="post" action="{{url_for('agregar_invocador')}}" class="col-4 col-12-xsmall">
										<div class="row gtr-uniform">
                                            <!-- Break -->
                                            <div class="col-4 col-12-xsmall">
												<input type="text" name="agregar_usuario_id" id="agregar_usuario_id" value="" placeholder="ID" />
											</div>
											<div class="col-12-xsmall">
												<select name="agregar_usuario_servidor" id="agregar_usuario_servidor">
													<option value="">- Select Servidor -</option>
													<option value="BR">BR</option>
													<option value="EUNE">EUNE</option>
													<option value="LAN">LAN</option>
													<option value="LAS">LAS</option>
												</select>
											</div>
                                            <div class="col-6 col-12-xsmall">
												<input type="email" name="email" id="email" value="" placeholder="Correo" />
											</div>
                                            <div class="col-4 col-12-xsmall">
												<input type="password" name="password" id="password" value="" placeholder="Contraseña" />
											</div>
                                            <div class="col-4 col-12-xsmall">
												<input type="text" name="nombre" id="nombre" value="" placeholder="Nombre" />
											</div>
                                            <div class="col-4 col-12-xsmall">
												<input type="text" name="apellido" id="apellido" value="" placeholder="Apellido" />
											</div>
                                            <div class="col-4 col-12-xsmall">
												<input type="tel" name="telefono" id="telefono" value="" placeholder="Telefono" />
											</div>
											</br>
											<h4>Fecha</h4>
                                             <div class="col-9 10-xlarge">
												<input type="date" name="fecha_nacimiento" id="date" value="" placeholder="Fecha_nacimiento" />
											</div>
											</br>
											<!-- Break -->
											</br>
											<h4>Sexo</h4>
                                            <div class="col-4 col-12-small">
												<input type="radio" id="femenino" name="radio">
												<label for="femenino">Femenino</label>
											</div>
											<div class="col-4 col-12-small">
												<input type="radio" id="masculino" name="radio">
												<label for="masculino">Masculino</label>
											</div>
                                            <div class="col-12">
												<select name="category" id="division">
													<option value="">- Select Division -</option>
													<option value="SR">Sin Ranking</option>
													<option value="PROV">Provisional</option>
													<option value="HIV">Hierro 4</option>
													<option value="HIII">Hierro 3</option>
													<option value="HII">Hierro 2</option>
													<option value="HI">Hierro 1</option>
													<option value="BIV">Bronce 4</option>
													<option value="BIII">Bronce 3</option>
													<option value="BII">Bronce 2</option>
													<option value="BI">Bronce 1</option>
													<option value="PIV">Plata 4</option>
													<option value="PIII">Plata 3</option>
													<option value="PII">Plata 2</option>
													<option value="PI">Plata 1</option>
													<option value="OIV">Oro 4</option>
													<option value="OIII">Oro 3</option>
													<option value="OII">Oro 2</option>
													<option value="OI">Oro 1</option>
													<option value="PLIV">Platino 4</option>
													<option value="PLIII">Platino 3</option>
													<option value="PLII">Platino 2</option>
													<option value="PLI">Platino 1</option>
													<option value="DIV">Diamante 4</option>
													<option value="DIII">Diamante 3</option>
													<option value="DII">Diamante 2</option>
													<option value="DI">Diamante 1</option>
													<option value="MIV">Master 4</option>
													<option value="MIII">Master 3</option>
													<option value="MII">Master 2</option>
													<option value="MI">Master 1</option>
													<option value="GMIV">Grandmaster 4</option>
													<option value="GMIII">Grandmaster 3</option>
													<option value="GMII">Grandmaster 2</option>
													<option value="GMI">Grandmaster 1</option>
													<option value="CIV">Challenger 4</option>
													<option value="CIII">Challenger 3</option>
													<option value="CII">Challenger 2</option>
													<option value="CI">Challenger 1</option>
												</select>
											</div>
											</br>
											<div class="col-4 col-12-xsmall">
												<input type="number" name="puntos" id="puntos" value="" placeholder="Puntos" />
											</div>
											<!-- Break -->
											</br>
											<!-- Break -->
											<div class="col-12">
												<ul class="actions">
													<li><input type="submit" value="Submit Form" class="primary" /></li>
													<li><input type="reset" value="Reset" /></li>
												</ul>
											</div>
										</div>
									</form>
								</div>
						<!--Primer insert-->
							</div>
						</div>
                    </div>
                </div>

			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="content">
                        <section>
                            <h3>Life ain't easy</h3>
                            <p>But this is it.</p>
                            </section>
                        <section>
                            <h4>Realizado por</h4>
							<ul class="alt">
								<li><a href="#">Heider Delgado</a></li>
								<li><a href="#">Carlos Villarroel</a></li>
							</ul>
                            </section>
                        <section>
							<h4>Fuentes</h4>
							<ul class="plain">
								<li><a href="https://github.com/HighDeFing/ABDProyecto1"><i class="icon fa-github">&nbsp;</i>Github</a></li>
							</ul>
						</section>
					</div>
					<div class="copyright">
						&copy; Untitled. Photos <a href="https://unsplash.co">Unsplash</a>, Video <a href="https://coverr.co">Coverr</a>.
					</div>
				</div>
			</footer>
       <!-- Footer -->


<!-- Assest script -->
<script src="{{ url_for('static',filename='assets/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/browser.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/breakpoints.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/util.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/main.js') }}"></script>
<!-- Assest script -->

	</body>
</html>