<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>

<div>Listar el nombre de los índices, las columnas que indexa y la tabla indexada.</div>
<button id="button_1" class="button">Enseñar</button>
<div id="description_button_1">
    <table style="width:100%">
  <tr>
      {% for row in cur.description %}
        <th>{{ row[0] }}</th>
       {% endfor %}
  </tr>
    {% for line in cur %}
    <tr>
        {% for rows in line %}
    <td>{{rows}}</td>
        {% endfor %}
  </tr>
    {% endfor %}
</table>
</div>

<div>Second Query</div>
<button id="button_2" class="button">Click Me!</button>
<div id="description_button_2">
    <ul id="navigation2">
    {% for line in other_cur %}
        <li>{{ line }}</li>
    {% endfor %}
</ul></div>

<script>
$(document).ready(function() {
    $('.button').each(function(){
        var toggle_div_id = 'description_' + $(this).attr('id');
        $(this).click(function(){
            $('#'+toggle_div_id).toggle();
        });
    });
});
</script>


</body>
</html>