<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />



</head>
<body class="is-preload">
     <!-- Header -->
		<header id="header">
        <a class="logo" href="home.html">Home</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="home.html">Home</a></li>
					<li><a href="insert_home.html">Agregar</a></li>
                    <li><a href="agregar_batalla.html">Agregar Batalla</a></li>
					<li><a href="agregar_carta.html">Agregar Carta</a></li>
                    <li><a href="agregar_division.html">Agregar Division</a></li>
                    <li><a href="agregar_invocador.html">Agregar Invocador</a></li>
                    <li><a href="agregar_mazo.html">Agregar Mazo</a></li>
                    <li><a href="agregar_region.html">Agregar Region</a></li>
                    <li><a href="agregar_rioter.html">Agregar Rioter</a></li>
                    <li><a href="agregar_servidor.html">Agregar Servidor</a></li>
                    <li><a href="agregar_usuario.html">Agregar Usuario</a></li>
                    <li><a href="justificacion.html">Justificacion</a></li>
				</ul>
			</nav>
<div id="heading">
    <h1>Queries</h1>
<!--    <img src="{{ url_for('static',filename='images/banner.png') }}">-->
</div>
<section id="main" class="wrapper">
<div class="inner">
    <div class="content">
        <div class="col-6 col-12-medium">
            <!-- Primera consulta -->
            <h3>1. Listar el nombre de los índices, las columnas que indexa y la tabla indexada.</h3>

                <ul class="actions">
                    <li><a id="button_1" class="button primary">Enseñar / Ocultar</a></li>
                </ul>
                <div id="description_button_1" class="table-wrapper">
                    <table class="alt">
                      <tr>
                          <thead>
                          {% for row in pri.description %}
                            <th>{{ row[0] }}</th>
                           {% endfor %}
                          </thead>
                      </tr>
                        {% for line in pri %}
                        <tr>
                            {% for rows in line %}
                        <td>{{rows}}</td>
                            {% endfor %}
                      </tr>
                        {% endfor %}
                    </table>
                </div>
            <!-- Primera consulta -->

            <!-- Segunda consulta -->
            <h3>2. Mostrar las tablas del esquema e indicar cuantos índices tiene asociada esa tabla.</h3>

                <ul class="actions">
                    <li><a id="button_2" class="button primary">Enseñar / Ocultar</a></li>
                </ul>
                <div id="description_button_2" class="table-wrapper">
                    <table class="alt">
                      <tr>
                          <thead>
                          {% for row in seg.description %}
                            <th>{{ row[0] }}</th>
                           {% endfor %}
                          </thead>
                      </tr>
                        {% for line in seg %}
                        <tr>
                            {% for rows in line %}
                        <td>{{rows}}</td>
                            {% endfor %}
                      </tr>
                        {% endfor %}
                    </table>
                </div>
            <!-- Segunda consulta -->

            <!-- Tercera consulta -->
            <h3>3. Indicar las restricciones del esquema, su tipo y la tabla a las que pertenecen.</h3>

                <ul class="actions">
                    <li><a id="button_3" class="button primary">Enseñar / Ocultar</a></li>
                </ul>
                <div id="description_button_3" class="table-wrapper">
                    <table class="alt">
                      <tr>
                          <thead>
                          {% for row in ter.description %}
                            <th>{{ row[0] }}</th>
                           {% endfor %}
                          </thead>
                      </tr>
                        {% for line in ter %}
                        <tr>
                            {% for rows in line %}
                        <td>{{rows}}</td>
                            {% endfor %}
                      </tr>
                        {% endfor %}
                    </table>
                </div>
            <!-- Tercera consulta -->

            <!-- Cuarta consulta -->
            <h3>4. Listar el nombre, tipo, estatus y la tabla asociada de los triggers.</h3>

                <ul class="actions">
                    <li><a id="button_4" class="button primary">Enseñar / Ocultar</a></li>
                </ul>
                <div id="description_button_4" class="table-wrapper">
                    <table class="alt">
                      <tr>
                          <thead>
                          {% for row in cua.description %}
                            <th>{{ row[0] }}</th>
                           {% endfor %}
                          </thead>
                      </tr>
                        {% for line in cua %}
                        <tr>
                            {% for rows in line %}
                        <td>{{rows}}</td>
                            {% endfor %}
                      </tr>
                        {% endfor %}
                    </table>
                </div>
            <!-- Cuarta consulta -->

            <!-- Quinta consulta -->
            <h3>5. Calcular el tamaño de cada columna en bytes.</h3>

            <ul class="actions">
                <li><a id="button_5" class="button primary">Enseñar / Ocultar</a></li>
            </ul>
            <div id="description_button_5" class="table-wrapper">
                <table class="alt">
                  <tr>
                      <thead>
                      {% for row in qui.description %}
                        <th>{{ row[0] }}</th>
                       {% endfor %}
                      </thead>
                  </tr>
                    {% for line in qui %}
                    <tr>
                        {% for rows in line %}
                    <td>{{rows}}</td>
                        {% endfor %}
                  </tr>
                    {% endfor %}
                </table>
            </div>
            <!-- Quinta consulta -->

            <!-- Sexta consulta -->
            <h3>6. Calcular el tamaño de cada registro en bytes.</h3>

            <ul class="actions">
                <li><a id="button_6" class="button primary">Enseñar / Ocultar</a></li>
            </ul>
            <div id="description_button_6" class="table-wrapper">
            <!--Tabla Batalla-->
                <h4>A. Tabla Batalla</h4>
                   <ul class="actions">
                    <li><a id="button_11" class="button small">Enseñar / Ocultar</a></li>
                   </ul>
                       <div id="description_button_11" class="table-wrapper">
                           <table class="alt">
                              <tr>
                                  <thead>
                                  {% for row in sex_a.description %}
                                    <th>{{ row[0] }}</th>
                                   {% endfor %}
                                  </thead>
                              </tr>
                                {% for line in sex_a %}
                                <tr>
                                    {% for rows in line %}
                                <td>{{rows}}</td>
                                    {% endfor %}
                              </tr>
                                {% endfor %}
                          </table>
                   </div>
            <!--Tabla Batalla-->

                <!--Tabla Carta-->
                <h4>B. Tabla Carta</h4>
                   <ul class="actions">
                    <li><a id="button_12" class="button small">Enseñar / Ocultar</a></li>
                   </ul>
                       <div id="description_button_12" class="table-wrapper">
                           <table class="alt">
                              <tr>
                                  <thead>
                                  {% for row in sex_b.description %}
                                    <th>{{ row[0] }}</th>
                                   {% endfor %}
                                  </thead>
                              </tr>
                                {% for line in sex_b %}
                                <tr>
                                    {% for rows in line %}
                                <td>{{rows}}</td>
                                    {% endfor %}
                              </tr>
                                {% endfor %}
                          </table>
                   </div>
            <!--Tabla Carta-->

                <!--Tabla Division-->
                <h4>C. Tabla Division</h4>
                   <ul class="actions">
                    <li><a id="button_13" class="button small">Enseñar / Ocultar</a></li>
                   </ul>
                       <div id="description_button_13" class="table-wrapper">
                           <table class="alt">
                              <tr>
                                  <thead>
                                  {% for row in sex_c.description %}
                                    <th>{{ row[0] }}</th>
                                   {% endfor %}
                                  </thead>
                              </tr>
                                {% for line in sex_c %}
                                <tr>
                                    {% for rows in line %}
                                <td>{{rows}}</td>
                                    {% endfor %}
                              </tr>
                                {% endfor %}
                          </table>
                   </div>
            <!--Tabla Division-->

                <!--Tabla Invocador-->
                <h4>D. Tabla Invocador</h4>
                   <ul class="actions">
                    <li><a id="button_14" class="button small">Enseñar / Ocultar</a></li>
                   </ul>
                       <div id="description_button_14" class="table-wrapper">
                           <table class="alt">
                              <tr>
                                  <thead>
                                  {% for row in sex_d.description %}
                                    <th>{{ row[0] }}</th>
                                   {% endfor %}
                                  </thead>
                              </tr>
                                {% for line in sex_d %}
                                <tr>
                                    {% for rows in line %}
                                <td>{{rows}}</td>
                                    {% endfor %}
                              </tr>
                                {% endfor %}
                          </table>
                   </div>
            <!--Tabla Invocador-->

                <!--Tabla Mazo-->
                <h4>E. Tabla Mazo</h4>
                   <ul class="actions">
                    <li><a id="button_15" class="button small">Enseñar / Ocultar</a></li>
                   </ul>
                       <div id="description_button_15" class="table-wrapper">
                           <table class="alt">
                              <tr>
                                  <thead>
                                  {% for row in sex_e.description %}
                                    <th>{{ row[0] }}</th>
                                   {% endfor %}
                                  </thead>
                              </tr>
                                {% for line in sex_e %}
                                <tr>
                                    {% for rows in line %}
                                <td>{{rows}}</td>
                                    {% endfor %}
                              </tr>
                                {% endfor %}
                          </table>
                   </div>
            <!--Tabla Mazo-->

                <!--Tabla Region-->
                <h4>F. Tabla Region</h4>
                   <ul class="actions">
                    <li><a id="button_16" class="button small">Enseñar / Ocultar</a></li>
                   </ul>
                       <div id="description_button_16" class="table-wrapper">
                           <table class="alt">
                              <tr>
                                  <thead>
                                  {% for row in sex_f.description %}
                                    <th>{{ row[0] }}</th>
                                   {% endfor %}
                                  </thead>
                              </tr>
                                {% for line in sex_f %}
                                <tr>
                                    {% for rows in line %}
                                <td>{{rows}}</td>
                                    {% endfor %}
                              </tr>
                                {% endfor %}
                          </table>
                   </div>
            <!--Tabla Region-->
                <!--Tabla Rioter-->
                <h4>G. Tabla Rioter</h4>
                   <ul class="actions">
                    <li><a id="button_17" class="button small">Enseñar / Ocultar</a></li>
                   </ul>
                       <div id="description_button_17" class="table-wrapper">
                           <table class="alt">
                              <tr>
                                  <thead>
                                  {% for row in sex_g.description %}
                                    <th>{{ row[0] }}</th>
                                   {% endfor %}
                                  </thead>
                              </tr>
                                {% for line in sex_g %}
                                <tr>
                                    {% for rows in line %}
                                <td>{{rows}}</td>
                                    {% endfor %}
                              </tr>
                                {% endfor %}
                          </table>
                   </div>
            <!--Tabla Rioter-->

                <!--Tabla Servidor-->
                <h4>H. Tabla Servidor</h4>
                   <ul class="actions">
                    <li><a id="button_18" class="button small">Enseñar / Ocultar</a></li>
                   </ul>
                       <div id="description_button_18" class="table-wrapper">
                           <table class="alt">
                              <tr>
                                  <thead>
                                  {% for row in sex_h.description %}
                                    <th>{{ row[0] }}</th>
                                   {% endfor %}
                                  </thead>
                              </tr>
                                {% for line in sex_h %}
                                <tr>
                                    {% for rows in line %}
                                <td>{{rows}}</td>
                                    {% endfor %}
                              </tr>
                                {% endfor %}
                          </table>
                   </div>
            <!--Tabla Servidor-->

                <!--Tabla Usuario-->
                <h4>I. Tabla Usuario</h4>
                   <ul class="actions">
                    <li><a id="button_19" class="button small">Enseñar / Ocultar</a></li>
                   </ul>
                       <div id="description_button_19" class="table-wrapper">
                           <table class="alt">
                              <tr>
                                  <thead>
                                  {% for row in sex_i.description %}
                                    <th>{{ row[0] }}</th>
                                   {% endfor %}
                                  </thead>
                              </tr>
                                {% for line in sex_i %}
                                <tr>
                                    {% for rows in line %}
                                <td>{{rows}}</td>
                                    {% endfor %}
                              </tr>
                                {% endfor %}
                          </table>
                   </div>
            <!--Tabla Usuario-->


            </div>
            <!-- Sexta consulta -->

            <!-- Septima consulta -->
            <h3>7. Indicar el tamaño de las tablas en bloques</h3>

            <ul class="actions">
                <li><a id="button_7" class="button primary">Enseñar / Ocultar</a></li>
            </ul>
            <div id="description_button_7" class="table-wrapper">
                <table class="alt">
                  <tr>
                      <thead>
                      {% for row in sep.description %}
                        <th>{{ row[0] }}</th>
                       {% endfor %}
                      </thead>
                  </tr>
                    {% for line in sep %}
                    <tr>
                        {% for rows in line %}
                    <td>{{rows}}</td>
                        {% endfor %}
                  </tr>
                    {% endfor %}
                </table>
            </div>
            <!-- Septima consulta -->

            <!-- Octava consulta -->
             <h3>8. Listar los nombres de los procedimientos del esquema</h3>

            <ul class="actions">
                <li><a id="button_8" class="button primary">Enseñar / Ocultar</a></li>
            </ul>
            <div id="description_button_8" class="table-wrapper">
                <table class="alt">
                  <tr>
                      <thead>
                      {% for row in oct.description %}
                        <th>{{ row[0] }}</th>
                       {% endfor %}
                      </thead>
                  </tr>
                    {% for line in oct %}
                    <tr>
                        {% for rows in line %}
                    <td>{{rows}}</td>
                        {% endfor %}
                  </tr>
                    {% endfor %}
                </table>
            </div>
            <!-- Octava consulta -->

            <!-- Novena consulta -->
            <h3>9. Calcular el tamaño total de la base de datos en MB.</h3>

            <ul class="actions">
                <li><a id="button_9" class="button primary">Enseñar / Ocultar</a></li>
            </ul>
            <div id="description_button_9" class="table-wrapper">
                <table class="alt">
                  <tr>
                      <thead>
                      {% for row in nov.description %}
                        <th>{{ row[0] }}</th>
                       {% endfor %}
                      </thead>
                  </tr>
                    {% for line in nov %}
                    <tr>
                        {% for rows in line %}
                    <td>{{rows}}</td>
                        {% endfor %}
                  </tr>
                    {% endfor %}
                </table>
            </div>
            <!-- Novena consulta -->

            <!-- Decima consulta -->
            <h3>10. Mostrar el Factor de bloqueo de las tablas e índices.</h3>

            <ul class="actions">
                <li><a id="button_10" class="button primary">Enseñar / Ocultar</a></li>
            </ul>
            <div id="description_button_10" class="table-wrapper">
            <!--Tabla Batalla-->
                <h4>A. Tabla Batalla</h4>
                   <ul class="actions">
                    <li><a id="button_20" class="button small">Enseñar / Ocultar</a></li>
                   </ul>
                       <div id="description_button_20" class="table-wrapper">
                           <table class="alt">
                              <tr>
                                  <thead>
                                  {% for row in dec_a.description %}
                                    <th>{{ row[0] }}</th>
                                   {% endfor %}
                                  </thead>
                              </tr>
                                {% for line in dec_a %}
                                <tr>
                                    {% for rows in line %}
                                <td>{{rows}}</td>
                                    {% endfor %}
                              </tr>
                                {% endfor %}
                          </table>
                   </div>
            <!--Tabla Batalla-->

                <!--Tabla Carta-->
                <h4>B. Tabla Carta</h4>
                   <ul class="actions">
                    <li><a id="button_21" class="button small">Enseñar / Ocultar</a></li>
                   </ul>
                       <div id="description_button_21" class="table-wrapper">
                           <table class="alt">
                              <tr>
                                  <thead>
                                  {% for row in dec_b.description %}
                                    <th>{{ row[0] }}</th>
                                   {% endfor %}
                                  </thead>
                              </tr>
                                {% for line in dec_b %}
                                <tr>
                                    {% for rows in line %}
                                <td>{{rows}}</td>
                                    {% endfor %}
                              </tr>
                                {% endfor %}
                          </table>
                   </div>
            <!--Tabla Carta-->

                <!--Tabla Division-->
                <h4>C. Tabla Division</h4>
                   <ul class="actions">
                    <li><a id="button_22" class="button small">Enseñar / Ocultar</a></li>
                   </ul>
                       <div id="description_button_22" class="table-wrapper">
                           <table class="alt">
                              <tr>
                                  <thead>
                                  {% for row in dec_c.description %}
                                    <th>{{ row[0] }}</th>
                                   {% endfor %}
                                  </thead>
                              </tr>
                                {% for line in dec_c %}
                                <tr>
                                    {% for rows in line %}
                                <td>{{rows}}</td>
                                    {% endfor %}
                              </tr>
                                {% endfor %}
                          </table>
                   </div>
            <!--Tabla Division-->

                <!--Tabla Invocador-->
                <h4>D. Tabla Invocador</h4>
                   <ul class="actions">
                    <li><a id="button_23" class="button small">Enseñar / Ocultar</a></li>
                   </ul>
                       <div id="description_button_23" class="table-wrapper">
                           <table class="alt">
                              <tr>
                                  <thead>
                                  {% for row in dec_d.description %}
                                    <th>{{ row[0] }}</th>
                                   {% endfor %}
                                  </thead>
                              </tr>
                                {% for line in dec_d %}
                                <tr>
                                    {% for rows in line %}
                                <td>{{rows}}</td>
                                    {% endfor %}
                              </tr>
                                {% endfor %}
                          </table>
                   </div>
            <!--Tabla Invocador-->

                <!--Tabla Mazo-->
                <h4>E. Tabla Mazo</h4>
                   <ul class="actions">
                    <li><a id="button_24" class="button small">Enseñar / Ocultar</a></li>
                   </ul>
                       <div id="description_button_24" class="table-wrapper">
                           <table class="alt">
                              <tr>
                                  <thead>
                                  {% for row in dec_e.description %}
                                    <th>{{ row[0] }}</th>
                                   {% endfor %}
                                  </thead>
                              </tr>
                                {% for line in dec_e %}
                                <tr>
                                    {% for rows in line %}
                                <td>{{rows}}</td>
                                    {% endfor %}
                              </tr>
                                {% endfor %}
                          </table>
                   </div>
            <!--Tabla Mazo-->

                <!--Tabla Region-->
                <h4>F. Tabla Region</h4>
                   <ul class="actions">
                    <li><a id="button_25" class="button small">Enseñar / Ocultar</a></li>
                   </ul>
                       <div id="description_button_25" class="table-wrapper">
                           <table class="alt">
                              <tr>
                                  <thead>
                                  {% for row in dec_f.description %}
                                    <th>{{ row[0] }}</th>
                                   {% endfor %}
                                  </thead>
                              </tr>
                                {% for line in dec_f %}
                                <tr>
                                    {% for rows in line %}
                                <td>{{rows}}</td>
                                    {% endfor %}
                              </tr>
                                {% endfor %}
                          </table>
                   </div>
            <!--Tabla Region-->
                <!--Tabla Rioter-->
                <h4>G. Tabla Rioter</h4>
                   <ul class="actions">
                    <li><a id="button_26" class="button small">Enseñar / Ocultar</a></li>
                   </ul>
                       <div id="description_button_26" class="table-wrapper">
                           <table class="alt">
                              <tr>
                                  <thead>
                                  {% for row in dec_g.description %}
                                    <th>{{ row[0] }}</th>
                                   {% endfor %}
                                  </thead>
                              </tr>
                                {% for line in dec_g %}
                                <tr>
                                    {% for rows in line %}
                                <td>{{rows}}</td>
                                    {% endfor %}
                              </tr>
                                {% endfor %}
                          </table>
                   </div>
            <!--Tabla Rioter-->

                <!--Tabla Servidor-->
                <h4>H. Tabla Servidor</h4>
                   <ul class="actions">
                    <li><a id="button_27" class="button small">Enseñar / Ocultar</a></li>
                   </ul>
                       <div id="description_button_27" class="table-wrapper">
                           <table class="alt">
                              <tr>
                                  <thead>
                                  {% for row in dec_h.description %}
                                    <th>{{ row[0] }}</th>
                                   {% endfor %}
                                  </thead>
                              </tr>
                                {% for line in dec_h %}
                                <tr>
                                    {% for rows in line %}
                                <td>{{rows}}</td>
                                    {% endfor %}
                              </tr>
                                {% endfor %}
                          </table>
                   </div>
            <!--Tabla Servidor-->

                <!--Tabla Usuario-->
                <h4>I. Tabla Usuario</h4>
                   <ul class="actions">
                    <li><a id="button_28" class="button small">Enseñar / Ocultar</a></li>
                   </ul>
                       <div id="description_button_28" class="table-wrapper">
                           <table class="alt">
                              <tr>
                                  <thead>
                                  {% for row in dec_i.description %}
                                    <th>{{ row[0] }}</th>
                                   {% endfor %}
                                  </thead>
                              </tr>
                                {% for line in dec_i %}
                                <tr>
                                    {% for rows in line %}
                                <td>{{rows}}</td>
                                    {% endfor %}
                              </tr>
                                {% endfor %}
                          </table>
                   </div>
            <!--Tabla Usuario-->

                <!--Tabla Indices-->
                <h4>J. Tabla Indices</h4>
                   <ul class="actions">
                    <li><a id="button_29" class="button small">Enseñar / Ocultar</a></li>
                   </ul>
                       <div id="description_button_29" class="table-wrapper">
                           <table class="alt">
                              <tr>
                                  <thead>
                                  {% for row in dec_ind.description %}
                                    <th>{{ row[0] }}</th>
                                   {% endfor %}
                                  </thead>
                              </tr>
                                {% for line in dec_ind %}
                                <tr>
                                    {% for rows in line %}
                                <td>{{rows}}</td>
                                    {% endfor %}
                              </tr>
                                {% endfor %}
                          </table>
                   </div>
            <!--Tabla de Indices-->
                </div>
            <!-- Decima consulta -->
        </div>
    </div>
</div>
</section>

     <!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="content">
                        <section>
                            <h3>Life ain't easy</h3>
                            <p>But this is it.</p>
                            </section>
                        <section>
                            <h4>Realizado por</h4>
							<ul class="alt">
								<li><a href="#">Heider Delgado</a></li>
								<li><a href="#">Carlos Villarroel</a></li>
							</ul>
                            </section>
                        <section>
							<h4>Fuentes</h4>
							<ul class="plain">
								<li><a href="https://github.com/HighDeFing/ABDProyecto1"><i class="icon fa-github">&nbsp;</i>Github</a></li>
							</ul>
						</section>
					</div>
					<div class="copyright">
						&copy; Untitled. Photos <a href="https://unsplash.co">Unsplash</a>, Video <a href="https://coverr.co">Coverr</a>.
					</div>
				</div>
			</footer>
<!-- Button script -->
<script>
$(document).ready(function() {
    $('.button').each(function(){
        var toggle_div_id = 'description_' + $(this).attr('id');
        $(this).click(function(){
            $('#'+toggle_div_id).toggle();
        });
    });
});
</script>
<!-- Button script -->

<!-- Assest script -->
<script src="{{ url_for('static',filename='assets/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/browser.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/breakpoints.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/util.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/main.js') }}"></script>
<!-- Assest script -->


</body>
</html>